<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="'EriBank' E2E tests">
    <suite-files>
        <suite-file path="login.xml"/>
        <suite-file path="homeView.xml"/>
        <suite-file path="makePaymentView.xml"/>
        <suite-file path="mortgageRequestView.xml"/>
        <suite-file path="mortgageSummaryView.xml"/>
    </suite-files>
</suite>